.git
.DS_Store
node_modules
**/node_modules
.next
**/.next
dist
**/dist
!packages/shared/dist
!packages/shared/dist/**
!plugins/plugin-*/dist
!plugins/plugin-*/dist/**
build
**/build
coverage
**/coverage
release
*.log
npm-debug.log*
